node_modules
npm-debug.log
Dockerfile*
docker-compose*
.dockerignore
.git
.gitignore
README.md
LICENSE
.vscode
.idea
dist
build
coverage
*.log
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
backend/vendor
backend/storage/*.key
backend/.env
